<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homework 4</title>
</head>
<body>
    <header>
            <div class="header_top">
                <div class="header_logo">
                          <h3>Resto<span>..</span></h3>
                </div>
                <nav>
                    <ul> 
                        <li><a href="#">Our Story</a></li>
                        <li><a href="#">Menu</a></li>
                        <li><a href="#">Reservations</a></li>
                        <li><a class="active" href="#">Galery</a></li>
                        <li><a href="#">Reviws</a></li>
                    </ul>
                </nav>
            </div>
    </header>  
</body>
</html>