<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Загрузка изображений</h2>
    <form action="index.php" method="post" enctype="multipart/form-data">
        <p>Выберите картинку</p>
        <input type="file" name="image" accept="image/jpeg">
        <input type="submit" name="upload" value="Загрузить">
    </form>
</body>
</html>